* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --ff-primary: 'Roboto', sans-serif;
}

/* ## GENERAL STYLES OF PAGE */

body {
  background: var(--background);

  font-family: var(--ff-primary);
  font-size: 1.6rem;

  height: 100vh;

  display: grid;
  place-content: center;
}

.hide {
  display: none;
}

/* DEFINE THEME COLOR */

body.light-theme {
  --background: #fff;
  --timer-color: #000;
  --card-normal: #E1E1E6;
  --card-hover: #02799D;
  --icon-normal: #323238;
  --icon-hover: #a79d9d;
}

body.dark-theme {  
  --background: #121214;
  --timer-color: #fff;
  --card-normal: #29292E;
  --card-hover: #0A3442;
  --icon-normal: #C4C4CC;
  --icon-hover: #c0dde5;
}


/* ## TOGGLE THEME */
input[type="checkbox"] {
  display: none;
}

.theme-buttons {
  width: 4.5rem;

  position: absolute;
  right: 6.4rem;
  top: 6.4rem;
}

.dark-theme .sun-icon {
  display: none;
}

.light-theme .moon-icon {
  display: none;
}

.dark-theme .moon-icon {
  display: block;
}



/* MAIN STYLES */

main.page {
  margin-top: -12rem;
  min-width: 81.5rem;
  min-height: 33.6rem;

  display: flex;
  gap: 18.6rem;
  align-items: center;
  justify-content: space-between;
}

.timer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4.8rem;
  
}

.timer-display {
  color: var(--timer-color);
  font-size: 12.6rem;
  display: flex;
}

.timer-sets {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.timer-sets button {
  background: none;
  border: none;
  transition: transform .2s;
}

.timer-sets button:hover {
  transform: scale(1.1);
}

.timer-sets button path {
  fill: var(--icon-normal);
}

.timer-sets svg:hover {
  border-radius: 50%;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.171);
}

.timer-sets svg:hover path {
  fill: var(--icon-hover);
}

.timer-sounds {
  display: grid;
  gap: 3.2rem;
  grid-template-areas: "A B" "C D";
}

.timer-sounds div:nth-child(1) {
  grid-area: A;
}

.timer-sounds div:nth-child(2) {
  grid-area: B;
}

.timer-sounds div:nth-child(3) {
  grid-area: C;
}

.timer-sounds div:nth-child(4) {
  grid-area: D;
}

.timer-sounds button {
  background: none;
  border: none;
  transition: all .2s;
}

.timer-sounds button:hover {
  transform: scale(1.1);
}

.timer-sounds button path:nth-child(1) {
  fill: var(--card-normal);
}

/* COR DO CARD NO HOVER AQUI */
.timer-sounds button:hover path:nth-child(1){
  fill: var(--card-hover);
}

.timer-sounds button path:nth-child(2) {
  fill: var(--icon-normal);
}
/* COR DO ICONE NO HOVER AQUI */
.timer-sounds button:hover path:nth-child(2) {
  fill: var(--icon-hover);
}

.relative {
  position: relative;
}

#volume {
  width: 9rem;
  position: absolute;
  top: 12rem;
  left: 2.4rem;
  right: 2.4rem;

}

@media (max-width: 860px) {
  body {
    overflow: hidden;
  }

  main.page {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    gap: 10rem;
  }
}